html, body {
    overflow-x: hidden;
      font-size: 2vw;
        font-size: 1vw;
}

body {

    width: 100%;
    height: 100%;
}




@media only screen and (max-width: 599px) {
.myHeaderClass{
  background-color: #01426a;
  padding: 5px;
    width:100%:
}

h1 {
  font-size: 80%;
  width
  color: #ffffff;
}
}

@media only screen and (min-width: 600px) {
.myHeaderClass{
  background-color: #01426a;
  padding: 10px;
  width:100%:
}

h1 {
  font-size: 200%;
  color: #ffffff;
}
}


.aboutMeId{
  display: fixed;
  float: left;
  font-size: 80%;
  margin-bottom: 50px;
   margin-right: 50px;
}

.aboutMeImageId{
  float: left;
  margin-bottom: 50px;
}

