
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .aboutMeHeading{
    font-size: 15px;
    font-weight: bold;
}
/*
    * {
    box-sizing: border-box;
}
*/

/* Create two unequal columns that floats next to each other */
.aboutColumn {
    float: left;
    padding: 10px;
/*    height: 300px;  Should be removed. Only for demonstration*/
}

.aboutLeft {
  width: 35%;
}

.aboutRight {
  width: 65%;
float: left;
}

/* Clear floats after the columns */
.aboutRow:after {
    content: "";
    display: table;
    clear: both;
}

    .projectsHeading{
    font-size: 20px;
    font-weight: bold;
    color: #01426a;
    padding-top: 50px;
  text-align: center;
}

    img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;


    }

    * {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    text-align: center;

padding: 4px;
/*    height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


  .projectTitlesText{
    font-size: 12px;
    font-weight: bold;
  }

   .projectDescriptionText{
    font-size: 10px;
    text-align: left;
  }

.addSpaceBetweenProjects{
    padding-bottom: 25px;
}

  .githubButtonText{
    font-size: 12px;
  }


  a.seeItOnGithubClass4:link, a.seeItOnGithubClass4:visited, a.seeItOnGithubClass4:active{
    background-color: #ffffff;
    color: #01426a;
    border: solid 1px #01426a;
    font-size: 5x;
/*    margin-top: 20px;*/
    padding: 5px 10px 5px 10px;

  }

a.seeItOnGithubClass4:hover{
  background-color: #ffb500;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.aboutMeHeading{
    font-size: 20px;
    font-weight: bold;
}
    * {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.aboutColumn {
    float: left;
    padding: 10px;
/*    height: 300px;  Should be removed. Only for demonstration*/
}

.aboutLeft {
  width: 15%;
}

.aboutRight {
  width: 85%;
}

/* Clear floats after the columns */
.aboutRow:after {
    content: "";
    display: table;
    clear: both;
}
    .projectsHeading{
    font-size: 30px;
    font-weight: bold;
    color: #01426a;
    padding-top: 50px;
  text-align: center;
}

    * {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    text-align: center;

    padding: 10px;
/*    height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




.addSpaceBetweenProjects{
    padding-bottom: 25px;
}



  a.seeItOnGithubClass4:link, a.seeItOnGithubClass4:visited, a.seeItOnGithubClass4:active{
    background-color: #ffffff;
    color: #01426a;
    border: solid 1px #01426a;
    font-size: 5x;
/*    margin-top: 20px;*/
    padding: 5px 10px 5px 10px;

  }

a.seeItOnGithubClass4:hover{
  background-color: #ffb500;
}

    .projectTitlesText{
    font-size: 12px;
    font-weight: bold;
  }

   .projectDescriptionText{
    font-size: 10px;
    text-align: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.aboutMeHeading{
    font-size: 25px;
    font-weight: bold;
}

    .projectsHeading{
    font-size: 35px;
    font-weight: bold;
    color: #01426a;
    padding-top: 50px;
  text-align: center;
}




}

/*
 Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {


}
*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*
@media only screen and (min-width: 1200px) {

}
*/



h3, p{
margin:0;
}


a:link, a:visited, a:hover {
  color: #ffffff;
  text-decoration: none;
}



/*
img{
     border-color: #01426a;
    border-width: 10px;
}
*/

.aboutMeImage{
     border: border:3px solid #ffb500;
    width: calc(25%);
}

.aboutMeTextId{
    width: calc(100%-25%);
}





p.p1{
  font-size: 10px;
  margin-left: 10px;
}

p.p2{
  font-size: 10px;
  margin-left: 10px;
}

p.p3{
  font-size: 10px;
  margin-left: 10px;
}


h2, p{
margin:0;

}

.aboutMeID{
  margin-top: 10px;
}

div.aboutMeTextAndImage{
  width: 100%;
  margin-bottom:50px;
  position: static;
}




h2.aboutMeH3Class {
  color: #01426a;
  font-size: 200%;
  margin-top: 100px;
}
/*
.text {
  width: 100-30%;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
}
*/



/*---------------------------------------------------*/

p, h2{

  margin:0;
}








/*

.text {
  width: 100-30%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 10px;
}
*/




/*---------------------------------------------------*/

p, h2{
  padding: 0;
  margin:0;
}

h3.projectsH3Class{
  position: static;
  text-align: center;
  color: #01426a;
  font-size: 200%;
}




  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
/*  padding: 10px 16px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
/*  margin: 10px 2px;*/
    justify-content: center;
/*   margin-left: calc(50%);*/
/*
  -webkit-transition-duration: 0.4s;  Safari
  transition-duration: 0.4s;
*/
/*  cursor: pointer;*/
  background-color: #E9EBEB;
  color: #01426A;
  /*    border: 2px solid #FFB500;*/
}



/*
.projectsClass{
  font-size: 16px;
  margin-bottom: 10px;
}
*/

/*


}*/






.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  text-align: center;
}


