


}div.aboutMeTextAndImage{
  width: 100%;
  margin-bottom:70px;
  position: static;
}


/*
.image {
  width: 30%;
  float: left;
  margin-top:4px;
 position: static;
  margin-left: 10px;
}
*/

div.imageOfMe {
    width: 14%;
    height: 14%;
}

h3.aboutMeH3Class {
  color: #01426a;
  font-size: 200%;
}
.text {
  width: 100-30%;
  float: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 10px;
}

h3, p{
margin:0;
}

p.firstIndexPara {
   margin-top: 8px;
  font-size: 75%;
}

p.secondIndexPara {
    margin-top: 8px;
  font-size: 75%;
}

p.thirdIndexPara {
  margin-top: 8px;
  font-size: 75%;
}


/*---------------------------------------------------*/

p, h2{
  padding: 0;
  margin:0;
}

div.projectsAll{
  position: static;
}


div.projectsLabel{
  position: static;
}

h3.projectsH3Class{
  position: static;
  text-align: center;
  color: #01426a;
  font-size: 200%;
}


div.projectInteractive{
    width: 90%;
    margin: auto;
    position: static;
}

div.crystalInteractive{
    width: 45%;
    position: static;

    float: left;

}

div.pixelInteractive {
    margin-left: 55%;
  position: static;
}


div.projectTitles{
    width: 90%;
    margin: auto;
    position: static;
}

div.crystalTitle{
    width: 45%;
    position: static;
    float: left;
  text-align: center;
  margin-bottom: 8px;


}

div.pixelTitle {
  margin-left: 55%;
  position: static;
  text-align: center;
  margin-bottom: 8px;
}


div.projectDescriptions{
    width: 90%;
    margin: auto;
    position: static;
}

div.crystalDescription{

  width: 45%;
    position: static;
    float: left;
 vertical-align: middle;
font-size: 75%;
}

div.pixelDescription {

  margin-left: 55%;
  position: static;
  vertical-align: middle;
  font-size: 75%;
}

div.projectGit{
    width: 90%;
    margin: auto;
    position: static;
}

div.crystalGit{

  width: 45%;
    position: static;
    float: left;
 vertical-align: middle;

}

div.pixelGit {

  margin-left: 55%;
  position: static;
  vertical-align: middle;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #E9EBEB;
  color: #01426A;
  /*    border: 2px solid #FFB500;*/
}



.button1:hover {
  background-color: #FFB500;
  color: white;
}



@media only screen and (max-width:800px) {





}




@media only screen and (max-width:500px) {

  div.aboutMeTextAndImage{
  width: 100%;
  margin-bottom:70px;
  position: static;
}


div.imageOfMe {
    width: 14%;
    height: 14%;
}

h3.aboutMeH3Class {
  color: #01426a;
  font-size: 100%;
}
.text {
  width: 100-30%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-right: 10px;
}

h3, p{
margin:0;
}

p.firstIndexPara {
   margin-top: 8px;
  font-size: 75%;
}

p.secondIndexPara {
    margin-top: 8px;
  font-size: 75%;
}

p.thirdIndexPara {
  margin-top: 8px;
  font-size: 75%;
}


/*---------------------------------------------------*/

p, h2{
  padding: 0;
  margin:0;
}

div.projectsAll{
  position: static;
}


div.projectsLabel{
  position: static;
}

h3.projectsH3Class{
  position: static;
  text-align: center;
  color: #01426a;
  font-size: 200%;
}


div.projectInteractive{
    width: 90%;
    margin: auto;

    position: static;
}

div.crystalInteractive{
    width: 45%;
    position: static;

    float: left;

}

div.pixelInteractive {
    margin-left: 55%;
  position: static;
}


div.projectTitles{
    width: 90%;
    margin: auto;
    font-size: 10%;
    position: static;
}

div.crystalTitle{
    width: 45%;
    position: static;
/*    float: left;*/
  text-align: center;
  margin-bottom: 8px;


}

div.pixelTitle {
    width: 55%;
    position: static;
/*    float: left;*/
  text-align: center;
  margin-bottom: 8px;
}


div.projectDescriptions{
    width: 80%;
    margin: auto;
    position: static;
}

div.crystalDescription{

  width: 45%;
    position: static;
 vertical-align: middle;
  float: left;
font-size: 75%;
}

div.pixelDescription {

  margin-left: 55%;
  position: static;
  vertical-align: middle;
  font-size: 75%;
}

div.projectGit{
    width: 90%;
    margin: auto;
/*    font-size: 30%;*/
    position: static;
}

div.crystalGit{

  width:45%;
    position: static;
    float: left;
 vertical-align: middle;

}

div.pixelGit {

  margin-left: 55%;
  position: static;
  vertical-align: middle;
}


  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 2px;
/*
  -webkit-transition-duration: 0.4s;  Safari
  transition-duration: 0.4s;
*/
/*  cursor: pointer;*/
  background-color: #E9EBEB;
  color: #01426A;
  /*    border: 2px solid #FFB500;*/
}



.button1:hover {
  background-color: #FFB500;
  color: white;
}


}