@import url('dropdownmenu.css');

}* {
  box-sizing: border-box;
}

h1 {
   text-align: center;
  color: #FFFFFF;

}

h1:link {
color: #ffffff;
text-decoration: none;
}
h1:visited {
color: #ffffff;
text-decoration: none;
}
h1:hover {
color: #ffffff;
  text-decoration: none;
}

a:link {
color: #ffffff;
text-decoration: none;
}
a:visited {
color: #ffffff;
text-decoration: none;
}
a:hover {
color: #ffffff;
  text-decoration: none;
}

/*
img {
    width: 80%;
  height: 80%:
    height: 400px;
    background-image: url('/Images/AboutMeImage.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
*/

.menu {
  float:right;
  width:20%;

}
.menuitem {
/*  padding:4px;*/
  margin-top:7px;
  border-bottom:1px solid #ffffff;
}
.main {
  float:left;
  width:20%;
  padding: 0px;
  margin: 1cm 1cm 1cm 1cm;
}
.right {
/*  background-color:#E9EBEB;*/
/*  float:left;  -original*/
  float: left;
  width:20%;
/*  padding:5px 15px;*/
  margin-top:7px;
}

.right:hover{
/*  background: #71C5E8;*/
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width:50%;
  }
  .right {
    width:100%;
  }
}



* {
    box-sizing: border-box;
}



.right {
  width: 50%;
}


p
{

/*  display:inline;*/
}


/*columns*/
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*#lMDivClass p { display: inline }*/
/*
 Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}*/


.footer {
/*   position: relative;*/
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #01426A;
   color: white;
   text-align: left;
}