@import url('dropdownmenu.css');

}* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #FFFFFF;

}

h1:link {
  color: #ffffff;
  text-decoration: none;
}
h1:visited {
  color: #ffffff;
  text-decoration: none;
}
h1:hover {
  color: #ffffff;
  text-decoration: none;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}

.aboutMeId{
  float: left;
}

.aboutMeImageId{
  float: left;
  margin-bottom: 50px;
}
/*
.menu {
  float:right;
  width:20%;
*/

/*
}
.menuitem {
    padding:4px;
  border-bottom:1px solid #ffffff;
}
.main {
  float:left;
  width:25%;
  padding: 0px;
}
*/
/*.right {*/
  /*  background-color:#E9EBEB;*/
  /*  float:left;  -original*/
/*
  float: right;
  width:70%;
*/
/*
    padding:5px 15px;
  margin-top:7px;
*/
/*}*/

/*
.right:hover{
    background: #71C5E8;
}
*/


.leftHeadshot{
   float: left;
   padding: 0 20px 20px 0;

}

/*
@media only screen and (max-width:800px) {
For tablets:
.main {
width:50%;
}
.right {
width:100%;
}
*/


@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    .firstColumnSet {
      display: fixed;
      float: left;
      width: 50%;
      padding: 30px;
      height: 500px; /* Should be removed. Only for demonstration */

    }

}
@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {

    /*columns*/
    .firstColumnSet {
      display: fixed;
      float: left;
      width: 50%;
      padding: 30px;
      height: 450px; /* Should be removed. Only for demonstration */
    }


}




@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {

    /*columns*/
    .firstColumnSet {
      display: fixed;
      float: left;
      width: 50%;
      padding: 30px;
      height: 450px; /* Should be removed. Only for demonstration */
    }


}




* {
  box-sizing: border-box;
}



.right {
  width: 50%;
}


.projectsClass{
  margin-bottom: -15px;
}


/* Clear floats after the columns */
.firstRow:after {
  content: "";
  display: table;
  clear: both;
}

/*columns*/
.firstColumnSet {
  display: fixed;
  float: left;
  width: 50%;
  padding: 5px;
  height: auto;
}



/* Clear floats after the columns */
.secondRow:after {
  content: "";
  display: table;
  clear: both;
}

/*columns*/
.secondColumnSet {
  display: fixed;
  float: left;
  width: 50%;
  padding: 5px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.thirdRow:after {
  content: "";
  display: table;
  clear: both;
}

/*columns*/
.thirdColumnSet {
  display: fixed;
  float: left;
  width: 50%;
  padding: 5px;
  height: auto;
}



/* Clear floats after the columns */
.fourthRow:after {
  content: "";
  display: table;
  clear: both;
}

/*columns*/
.fourthColumnSet {
  display: fixed;
  float: left;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;

  -webkit-column-gap: 30%; /* Chrome, Safari, Opera */
  -moz-column-gap: 30%; /* Firefox */
  column-gap: 30%;

  height: auto;
  width: 50%;

}





/*#lMDivClass p { display: inline }*/
/*
Clear floats after the columns
.row:after {
content: "";
display: table;
clear: both;
}*/


.footer {
  /*   position: relative;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01426A;
  color: white;
  text-align: center;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #E9EBEB;
  color: #01426A;
  /*    border: 2px solid #FFB500;*/
}



.button1:hover {
  background-color: #FFB500;
  color: white;
}


