ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9EBEB;



}

h1{

     text-align: center;
}

/* unvisited link */
h1 a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
h1 a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
h1 a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
h1 a:active {
    color: white;
    text-decoration: none;
}

li {
    float: left;
/*    text-decoration-color: #01426A;*/

}


/* unvisited link */
ul a:link {
    color: #01426A;
}

/* visited link */
ul a:visited {
    color: #01426A;
}

/* mouse over link */
ul a:hover {
    color: #01426A;
}

/* selected link */
ul a:active {
    color: #01426A;
}

li a:link, .menubut {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}




li a:hover, .dropdown:hover .dropbtn {
    background-color: #71C5E8;
}

a:visited, .dropdown:hover .dropbtn {
    color: green;
}

li.dropdown {
    display: inline-block;
}


.dropdown:hover .dropdown-content {
    display: block;
}


