.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.330078;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.914062;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.923340;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.338867;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.921387;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls3{letter-spacing:-0.800000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.016000px;}
.ls2{letter-spacing:0.200000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-4.480000px;}
._0{margin-left:-1.496000px;}
._1{width:1.800000px;}
._9{width:2.856000px;}
._b{width:20.448000px;}
._f{width:61.784000px;}
._e{width:98.856000px;}
._6{width:118.808000px;}
._4{width:132.080000px;}
._10{width:290.096000px;}
._11{width:487.984000px;}
._7{width:546.552000px;}
._d{width:1017.112000px;}
._12{width:1098.136000px;}
._a{width:1205.440000px;}
._c{width:1244.952000px;}
._8{width:1291.072000px;}
._5{width:1473.672000px;}
._2{width:1763.248000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:88.000000px;}
.y0{bottom:0.000000px;}
.y34{bottom:85.025000px;}
.y33{bottom:98.775000px;}
.y32{bottom:111.770000px;}
.y31{bottom:121.800000px;}
.y30{bottom:135.800000px;}
.y2f{bottom:148.800000px;}
.y2e{bottom:158.800000px;}
.y2d{bottom:172.550000px;}
.y2c{bottom:186.300000px;}
.y2b{bottom:199.330000px;}
.y2a{bottom:209.320000px;}
.y29{bottom:223.080000px;}
.y28{bottom:236.830000px;}
.y27{bottom:250.830000px;}
.y26{bottom:263.830000px;}
.y25{bottom:273.850000px;}
.y24{bottom:287.600000px;}
.y23{bottom:301.350000px;}
.y22{bottom:315.100000px;}
.y21{bottom:328.100000px;}
.y20{bottom:338.100000px;}
.y1f{bottom:351.850000px;}
.y1e{bottom:365.880000px;}
.y1d{bottom:379.630000px;}
.y1c{bottom:393.380000px;}
.y1b{bottom:406.380000px;}
.y1a{bottom:416.380000px;}
.y19{bottom:430.130000px;}
.y18{bottom:443.900000px;}
.y17{bottom:457.900000px;}
.y16{bottom:471.650000px;}
.y15{bottom:485.400000px;}
.y14{bottom:498.400000px;}
.y13{bottom:508.400000px;}
.y12{bottom:522.170000px;}
.y11{bottom:535.170000px;}
.y10{bottom:545.170000px;}
.yf{bottom:558.920000px;}
.ye{bottom:572.670000px;}
.yd{bottom:586.670000px;}
.yc{bottom:600.450000px;}
.yb{bottom:613.450000px;}
.ya{bottom:623.450000px;}
.y9{bottom:637.200000px;}
.y8{bottom:650.950000px;}
.y7{bottom:664.700000px;}
.y6{bottom:678.720000px;}
.y5{bottom:692.470000px;}
.y4{bottom:706.220000px;}
.y3{bottom:719.970000px;}
.y2{bottom:733.720000px;}
.y1{bottom:749.970000px;}
.h6{height:32.750000px;}
.h4{height:33.265625px;}
.h7{height:49.125000px;}
.h5{height:49.546875px;}
.h2{height:49.898438px;}
.h3{height:50.671875px;}
.h1{height:92.898438px;}
.h0{height:792.000000px;}
.w1{width:611.999991px;}
.w0{width:612.000000px;}
.x0{left:0.000009px;}
.x4{left:21.499991px;}
.x3{left:171.079991px;}
.x2{left:204.079991px;}
.x1{left:232.349991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls3{letter-spacing:-1.066667pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.021333pt;}
.ls2{letter-spacing:0.266667pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-5.973333pt;}
._0{margin-left:-1.994667pt;}
._1{width:2.400000pt;}
._9{width:3.808000pt;}
._b{width:27.264000pt;}
._f{width:82.378667pt;}
._e{width:131.808000pt;}
._6{width:158.410667pt;}
._4{width:176.106667pt;}
._10{width:386.794667pt;}
._11{width:650.645333pt;}
._7{width:728.736000pt;}
._d{width:1356.149333pt;}
._12{width:1464.181333pt;}
._a{width:1607.253333pt;}
._c{width:1659.936000pt;}
._8{width:1721.429333pt;}
._5{width:1964.896000pt;}
._2{width:2350.997333pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:117.333333pt;}
.y0{bottom:0.000000pt;}
.y34{bottom:113.366667pt;}
.y33{bottom:131.700000pt;}
.y32{bottom:149.026667pt;}
.y31{bottom:162.400000pt;}
.y30{bottom:181.066667pt;}
.y2f{bottom:198.400000pt;}
.y2e{bottom:211.733333pt;}
.y2d{bottom:230.066667pt;}
.y2c{bottom:248.400000pt;}
.y2b{bottom:265.773333pt;}
.y2a{bottom:279.093333pt;}
.y29{bottom:297.440000pt;}
.y28{bottom:315.773333pt;}
.y27{bottom:334.440000pt;}
.y26{bottom:351.773333pt;}
.y25{bottom:365.133333pt;}
.y24{bottom:383.466667pt;}
.y23{bottom:401.800000pt;}
.y22{bottom:420.133333pt;}
.y21{bottom:437.466667pt;}
.y20{bottom:450.800000pt;}
.y1f{bottom:469.133333pt;}
.y1e{bottom:487.840000pt;}
.y1d{bottom:506.173333pt;}
.y1c{bottom:524.506667pt;}
.y1b{bottom:541.840000pt;}
.y1a{bottom:555.173333pt;}
.y19{bottom:573.506667pt;}
.y18{bottom:591.866667pt;}
.y17{bottom:610.533333pt;}
.y16{bottom:628.866667pt;}
.y15{bottom:647.200000pt;}
.y14{bottom:664.533333pt;}
.y13{bottom:677.866667pt;}
.y12{bottom:696.226667pt;}
.y11{bottom:713.560000pt;}
.y10{bottom:726.893333pt;}
.yf{bottom:745.226667pt;}
.ye{bottom:763.560000pt;}
.yd{bottom:782.226667pt;}
.yc{bottom:800.600000pt;}
.yb{bottom:817.933333pt;}
.ya{bottom:831.266667pt;}
.y9{bottom:849.600000pt;}
.y8{bottom:867.933333pt;}
.y7{bottom:886.266667pt;}
.y6{bottom:904.960000pt;}
.y5{bottom:923.293333pt;}
.y4{bottom:941.626667pt;}
.y3{bottom:959.960000pt;}
.y2{bottom:978.293333pt;}
.y1{bottom:999.960000pt;}
.h6{height:43.666667pt;}
.h4{height:44.354167pt;}
.h7{height:65.500000pt;}
.h5{height:66.062500pt;}
.h2{height:66.531250pt;}
.h3{height:67.562500pt;}
.h1{height:123.864583pt;}
.h0{height:1056.000000pt;}
.w1{width:815.999988pt;}
.w0{width:816.000000pt;}
.x0{left:0.000012pt;}
.x4{left:28.666655pt;}
.x3{left:228.106655pt;}
.x2{left:272.106655pt;}
.x1{left:309.799988pt;}
}
